body {
    font-family: 'Lato', sans-serif;
    color: rgb( 200, 200, 200);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
}

.container {
    /* background-color: rgb(48, 48, 48); */
    background-image: url('https://github.com/huzarrrr/victalis/blob/main/1092582.jpg');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

a:link {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:visited {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:hover {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:active {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}

.p2{
    font-size: 35px;
}
